{% extends 'base.html' %}
{% load static %}
{% load get_dict_element %}
{% load convert_date %}

{% block main %}
    <link rel="stylesheet" href="{% static "css/style-detail.css" %} " type="text/css ">
    <div class="main-content"> <!-- main content -->
        <div class="container">
            <div class="main-detail">
                <div class="container-fluid">
                    <div class="row m-2">
                        <div class="col-6">
                            <p>{{ post.date_posted|convert_date }}</p>
                            <p>{% for category in post.breadcrumb %} {{ category.title }} {% endfor %}</p>
                            {% if user.is_authenticated %}
                                <p>
                                    <button onclick="add_bookmark()">bookmark</button>
                                </p>
                            {% endif %}

                            <h5 style="font-family: isans-bold,serif">{{ post.title }}</h5>
                            <p>{{ post.summary }}</p>
                        </div>
                        <div class="col-6">
                            <img src="{{ post.main_image }}" class="border-radius" alt="{{ post.title }}">
                        </div>
                    </div>
                    <div class="detail-news">
                        {% for paragraph in post.paragraphs %}
                            {% with paragraph|get_dic_element:"body" as body %}
                                {% if paragraph|get_dic_element:"type" == "text" %}
                                    <p style="text-align: justify">{{ body }}</p>
                                {% else %}
                                    <img class="center-image" src="{{ body }}" alt="{{ post.title }}">
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <div>
                        <a href="{{ post.origin_url }}" target="_blank">خواندن این خبر در سایت خبرگزاری</a>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </div> <!-- end main content -->

    <script>
        function add_bookmark() {
            $.ajax(
                '{{ bookmark_add_url }}',
                {
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }
            )
        }
    </script>
{% endblock %}