{% extends "base.html" %}

{% block main %}
    <div>
        <form method="GET">
            {{ filter_set.form }}
            <input type="submit" value="Filter">
        </form>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-6 my-2">
                <div class="card mx-1">
                    <div class="row no-gutters">
                        <div id="card-image" class="col-2">
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.main_image }}" class="card-img w-100" alt="">
                            </a>
                        </div>
                        <div class="col-7 position-relative">
                            <div class="card-body">
                                <a href="{{ post.get_absolute_url }}">
                                    <p class="card-text"
                                       style="font-family: isans-bold,serif; font-size: 14px">{{ post.title }}</p>
                                </a>
                                <p>{{ post.summary }}</p>
                                <div class=" card-text news-reporter">
                                    <a href="{{ post.agency.get_absolute_url }}">
                                        <img src="{{ post.agency.image.url }}" alt="">
                                        <small>{{ post.agency.title }}</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}