{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <div style="padding-block: 200px">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6"
                 style="padding:5px;background-color: #91ecaa; border-color: #1c7430; border-style: solid; border-width: thin; min-height: auto">
                <p style="color: #007248; margin: 1px; text-align: center">
                    ثبت‌نام با موفقیت انجام شد!
                </p>
                <p style="text-align: center; margin: 1px">
                    <a href="/login/">
                        برای وارد شدن کلیلک کنید.
                    </a>
                </p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>


{% endblock %}